<nav class="header-nav">
  <%- partial('_widget/menu') %>
  <div class="nav-profile-wrapper">
    <div class="nav-profile-image">
      <button type="button" class="nav-profile-toggle-button" data-toggle="collapse" data-target="#mobile-hidden-panel">
        <img src = '<%= theme.about.profileURL %>' alt = "profile picture">
      </button>
    </div>
  </div>
</nav>
